@model SpellbinderTradingCards.Models.Card

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CardId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradingCardGameId" class="control-label"></label>
                <input asp-for="TradingCardGameId" class="form-control" />
                <span asp-validation-for="TradingCardGameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradingCardGame" class="control-label"></label>
                <input asp-for="TradingCardGame" class="form-control" />
                <span asp-validation-for="TradingCardGame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RarityId" class="control-label"></label>
                <input asp-for="RarityId" class="form-control" />
                <span asp-validation-for="RarityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rarity" class="control-label"></label>
                <input asp-for="Rarity" class="form-control" />
                <span asp-validation-for="Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionId" class="control-label"></label>
                <input asp-for="ConditionId" class="form-control" />
                <span asp-validation-for="ConditionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem" class="control-label"></label>
                <input asp-for="OrderItem" class="form-control" />
                <span asp-validation-for="OrderItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartItem" class="control-label"></label>
                <input asp-for="CartItem" class="form-control" />
                <span asp-validation-for="CartItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetId" class="control-label"></label>
                <input asp-for="SetId" class="form-control" />
                <span asp-validation-for="SetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set" class="control-label"></label>
                <input asp-for="Set" class="form-control" />
                <span asp-validation-for="Set" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
