<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpellbinderTradingCards</title>
    <script type="importmap"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SpellbinderTradingCards.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/77f7da89c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary p-0" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/images/Logo/Spellbinder trading cards logo transparent.png" width="270" height="120" class="d-inline-block align-top" alt="SpellbinderTradingCards">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-4" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Buy Cards</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Pokemon</a>
                                <a class="dropdown-item" href="#">Magic: The Gathering</a>
                                <a class="dropdown-item" href="#">Yu-Gi-Oh!</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Shop All Cards</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" href="#">Custom Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" href="#">About</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control bg-dark text-light text-bg-light border-secondary me-2 rounded" type="search" placeholder="Find Cards">
                        <button class="btn btn-secondary my-2 my-sm-0 rounded" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav ms-5">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - SpellbinderTradingCards - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
